:root{
    --primary:#5E3BEE;
}
.mnavbar{
            box-shadow: 0px 5.33px 80px 0px rgba(0, 0, 0, 0.1);
}
.hamburger{
    color: white !important;
    border: 1px solid white !important;
}
.btn-purple{
    border: 1px solid var(--primary) !important;
    color: azure !important;
}

.btn-purple:hover{
    background-color: azure !important;
    color:var(--primary) !important;

}

.herobtn{
    background-color: var(--primary) !important;
    color:azure !important;
}
.herobtn:hover{
border: 1px solid var(--primary) !important;
    color: var(--primary)!important;
    background-color: #F5FCFF !important;
}

.hero{
    background-color: #F5FCFF;
}
.hero span {
    color: var(--primary);
}
.gallery{
     background-color: #F5FCFF;
     outline: 20px solid white;
     gap: 20px;
     padding: 20px;
}
.images{
     background-color: white;
      border-radius: 30%;


}
.main {
    width: 20%;
    border-radius: 5px;
}
.main .images img{
    padding: 5px;
    width: 100%;
      box-shadow: 0px 5.33px 80px 0px rgba(0, 0, 0, 0.1);
}
.heading{
    justify-content: center;
    text-align: center;
    padding: 30px;
}
.group{
    gap: 2% !important;
    padding: 40px;

}
.group .pcard {
    width: 32% !important;
    gap: 30px;
    border-radius: 10px;
    padding: 0% !important;
     box-shadow:  0px 5.33px 80px 0px rgba(0, 0, 0, 0.1) !important;
}
.pcard a {
 text-decoration: none;
 color: black;

}
.tmain{
   gap: 3%;
   padding: 40px;
   justify-content: center;
   box-shadow:  0px 5.33px 80px 0px rgba(0, 0, 0, 0.1) !important;
   background-color: #F5FCFF;
}
.theading{
    padding-left:10% !important;
    padding-bottom: 3% !important;
}

.tcard{
     box-shadow:  0px 5.33px 80px 0px rgba(0, 0, 0, 0.1) !important;
     border-color:#006b6a !important;

}
.testimonials{
    width: 20%;
    gap: 20px;
}
.testimonials img {
    width: 50px;
}

.cmain{
    padding: 70px;
    align-items: center;
    justify-items: center;
    gap: 10%;
}
.form{
    padding-left: 3%;
}
button{
    background-color: var(--primary) !important;
    color: white !important;
}
.links{
    text-decoration: none;
    display: flex;

}
.footer{
    background-color: #F5FCFF !important;
    padding: 2px;
}

.bgClr input{
    border: 2px solid blue !important;

}